:root {
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --SLATE: #434455;
  --CORNFLOWER: #e7e9fc;
  --WHITE: #fff;
}
body {
  margin: 0;

  color: var(--SLATE);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 2%;
  background-color: #fff;
}

header {
  background: var(--WHITE, #fff);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--IRIS, #4d5ae5);
}
.logo-studio {
  color: var(--NAVY-BLUE, #2e2f42);
}
.link {
  text-decoration: none;
}

.nav-list {
  list-style: none;
}
.list-link {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
}
.list-link:focus {
  color: var(--OCEAN, #404bbf);
}
.list-link:hover {
  color: var(--OCEAN, #404bbf);
}

.contact {
  font-style: normal;
}
.email {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);
}
.email:focus {
  color: var(--OCEAN, #404bbf);
}
.email:hover {
  color: var(--OCEAN, #404bbf);
}
.tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);
}
.tel:focus {
  color: var(--OCEAN, #404bbf);
}
.tel:hover {
  color: var(--OCEAN, #404bbf);
}
