:root {
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-MODAL: #2e2f4266;
  --GREY: #2e2f42b2;
  --WHITE: #fff;
  --DAIRY: #fcfcfc;
}
body {
  margin: 0;
  color: var(--SLATE, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--WHITE, #fff);
}

header {
  background-color: var(--WHITE, #fff);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS, #4d5ae5);
}
.logo-studio {
  color: var(--NAVY-BLUE, #2e2f42);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.list-link {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
}
.list-link:focus {
  color: var(--OCEAN, #404bbf);
}
.list-link:hover {
  color: var(--OCEAN, #404bbf);
}

.address {
  font-style: normal;
}
.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);
}
.contact:focus {
  color: var(--OCEAN, #404bbf);
}
.contact:hover {
  color: var(--OCEAN, #404bbf);
}

.hero-image {
  background-color: var(--NAVY-BLUE, #2e2f42);
}
.title-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--WHITE, #fff);
}
.button-service {
  background-color: var(--IRIS, #4d5ae5);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE, #fff);
  cursor: pointer;
}
.button-service:hover {
  background-color: var(--OCEAN, #404bbf);
}
.button-service:focus {
  background-color: var(--OCEAN, #404bbf);
}

.header-third {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
}
.descrip {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);
}

.header-second {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE, #2e2f42);
}

.section-fourth {
  background-color: var(--CLOUD, #f4f4fd);
}
.team {
  background-color: var(--WHITE, #fff);
}

.footer-section {
  background-color: var(--NAVY-BLUE, #2e2f42);
}
.logo-studio-footer {
  color: var(--CLOUD, #f4f4fd);
}
.footer-descrip {
  color: var(--CLOUD, #f4f4fd);
}
