:root {
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --SLATE: #434455;
  --CORNFLOWER: #e7e9fc;
  --WHITE: #fff;
}
body {
  margin: 0;

  color: var(--SLATE);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 2%;
  background-color: #fff;
}
a {
  text-decoration: none;
  font-style: normal;
}
header {
  background: var(--WHITE, #fff);
}
.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-web {
  color: var(--IRIS, #4d5ae5);
}
.logo-studio {
  color: var(--NAVY-BLUE, #2e2f42);
}

.links {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 2%;
}
.links ul {
  list-style: none;
}
.links a {
  color: var(--NAVY-BLUE, #2e2f42);
}
.links a:active {
  color: var(--OCEAN, #404bbf);
}

address ul {
  list-style: none;
}
address a {
  color: var(--SLATE, #434455);
}

.hero-image {
  background: var(--NAVY-BLUE, #2e2f42);
}
.hero-image h1 {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 2%;
}
.hero-image button {
  color: var(--WHITE, #fff);

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-weight: medium;
  line-height: 24px; /* 150% */
  letter-spacing: 4%;

  /* Button Container */
  border: 0;
  background: var(--IRIS, #4d5ae5);
}
.hero-image button:hover {
  background: var(--OCEAN, #404bbf);
}
.hero-image button:active {
  background: var(--OCEAN, #404bbf);
}
